In [59]:
import pandas as pd
import numpy as np

volDf=pd.read_csv('D:/Amap/huaweidata/volume/vol20230801.csv',header=0,index_col=0)
#volDf.rename(columns={'Unnamed: 0':'NEAR_FID'},inplace=True)
volDf['sum']=volDf.sum(axis=1)
volDf['mean']=volDf['sum']/6


road_class=pd.read_csv('D:/Amap/huaweidata/roadclass.csv')
result=pd.concat([volDf,road_class],axis=1)

sumdf=result.groupby(by=['finalclass'])['mean'].sum().reset_index()
sumdf['portion']=sumdf['mean']/sumdf['mean'].sum(axis=0)

meandf=result.groupby(by=['finalclass'])['mean'].mean().reset_index()
meandf

roadcount=result[result['sum']==0]
roadcountdf=roadcount.groupby(by=['finalclass']).count().reset_index()

In [60]:
sumdf

   finalclass           mean   portion
0           1   97571.666667  0.329022
1           2  118660.666667  0.400137
2           3   80318.000000  0.270841

In [61]:
meandf
volDf['mean'].mean()

29.18515238001509

In [56]:
roadcountdf

,finalclass,2.02E+11,2.02E+11.1,2.02E+11.2,2.02E+11.3,2.02E+11.4,2.02308E+11,sum,mean,NEAR_FID
0,1,145,145,145,145,145,145,145,145,145
1,2,241,241,241,241,241,241,241,241,241
2,3,165,165,165,165,165,165,165,165,165